<div class="container">
	<div class="row">
		<div class="col s12">
				<h2 class="header">Editar un Producto</h2>  
          <form name="agregaForm" 
            [formGroup]="editarForm" 
            (ngSubmit)="onSubmit(editarForm.value)">
						<div class="input-field col s6">
							<i class="material-icons prefix">account_circle</i>
							<input name="nombre" type="text" class="validate" 
							[ngClass]="{'active':productoModel.nombre}" 
							[formControl]="nombre" 
							[(ngModel)]="productoModel.nombre"
	            required>
							<div class="alert alert-danger" 
							*ngIf="formErrors.nombre" 
							[innerHTML]="formErrors.nombre"></div>
							<label for="nombre">Nombre del Producto</label>
						</div>


					<div class="input-field col s6">
						<i class="material-icons prefix">fingerprint</i>
						<input id="codigo" type="text" class="validate" 
						[ngClass]="{'active':productoModel.codigo}" 
						[formControl]="codigo" 
						[(ngModel)]="productoModel.codigo"
						required>
						<div class="alert alert-danger" 
						*ngIf="formErrors.codigo" 
						[innerHTML]="formErrors.codigo"></div>
						<label for="codigo">Codigo</label>
					</div>

					<div class="input-field col s12">
						<i class="material-icons prefix">description</i>
						<textarea id="descripcion" class="validate materialize-textarea"
						[ngClass]="{'active':productoModel.descripcion}" 
						[formControl]="descripcion" 
						[(ngModel)]="productoModel.descripcion"
						required></textarea>
						<div class="alert alert-danger"
						*ngIf="formErrors.descripcion" 
						[innerHTML]="formErrors.descripcion"></div>
						<label for="descripcion">Descripción</label>
					</div>
					<button class="waves-effect waves-light btn-large" 
					type="submit"
					[disabled]="!editarForm.valid || enviandoFlag">Actualizar producto</button>
				</form>
		</div>
	</div>
</div>