<div ng-controller="LoginController" ng-init="init()">
	<div class="container">
	<div class="row">

		<div class="col s12 card-panel">
	        	<h2 class="center-align">	            	
	            	<img src="images/logo2.jpg" alt="" class="circle responsive-img valign profile-image-login">
				</h2>
	            <div class="row">
	                <form class="col m12">
	                        <div class="input-field col s12">
	                            <input id="user" ng-model="model.usuario.user" type="text" class="validate">
	                            <label for="user">Usuario</label>
	                        </div>
	                        <div class="input-field col s12">
	                            <input id="pass" ng-model="model.usuario.pass" type="password" class="validate">
	                            <label for="pass">Contraseña</label>
	                        </div>
	                        <!--
	                        <div class="col s12">
	                            <p>
	                                <input type="checkbox" id="remember">
	                                <label for="remember">Recuerdame</label>
	                            </p>
	                        </div>
		                    -->
	                    <div class="divider"></div>
	                        <div class="col m12">
	                            <p class="right-align">
	                                <button class="btn btn-large waves-effect waves-light" type="button" 
	                                ng-click="loginEnviar()" name="action">Inicio</button>
	                            </p>
	                        </div>
	                </form>
	            </div>

	    </div>
	</div>
	</div>
</div>