<div ng-controller="LoginController" ng-init="init()">
	<div class="container">
	<div class="row">

		<div class="col s12 card-panel">
				<h2 class="center-align">
	            	<img src="images/logo2.jpg" alt="" class="circle responsive-img valign profile-image-login">
				</h2>
	        	<h3 class="center-align">
	            	Sistema de Administración 
				</h3>
	            <div class="row">
	                <form class="col m12" 
	                name="loginForm" 
	                ng-submit="loginEnviar(loginForm.$valid)">
	                        <div class="input-field col s12">
	                            <input id="user" type="text" class="validate" 
	                            ng-model="model.usuario.user"
	                            required>
	                            <label for="user">Usuario</label>
	                        </div>
	                        <div class="input-field col s12">
	                            <input id="pass" type="password" class="validate" 
	                            ng-model="model.usuario.pass" 
	                            required>
	                            <label for="pass">Contraseña</label>
	                        </div>
	                        <!--
	                        <div class="col s12">
	                            <p>
	                                <input type="checkbox" id="remember">
	                                <label for="remember">Recuerdame</label>
	                            </p>
	                        </div>
		                    -->
	                    <div class="divider"></div>
	                        <div class="col m12">
	                            <p class="right-align">
	                                <button class="btn btn-large waves-effect waves-light" 
	                                type="submit" 
									ng-disabled="loginForm.$invalid || model.enviando"
	                                name="action">Inicio</button>
	                            </p>
	                        </div>
	                </form>
	            </div>

	    </div>
	</div>
	</div>
</div>