<!-- Navbar -->
<nav ng-controller="MenuController" ng-show="(model.logueado)">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Buen Chico</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/productos">Producto</a></li>
      <li><a ng-click="logout()">Cerrar</a></li>
      <a href="#/producto/agregar" class="btn-floating btn-small halfway-fab waves-effect waves-light teal"><i class="material-icons">add</i></a>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#/productos">Productos</a></li>
      <li><a ng-click="logout()">Cerrar</a></li>
    </ul>
  </div>

<!-- Fin Navbar -->