<div ng-controller="ProductosController" ng-init="init()">
		<div class="container">
			<div class="row">
	        	<nav class="nav-extended"></nav>
	            <div class="col s12">
		      <!--  Tables Section-->
		        <div id="striped" class="section scrollspy">
		          <h2 class="header">Lista Producto</h2>
		          <div class="row">
		            <div class="col s12">
		              <table class="striped">
		                <thead>
		                  <tr>
		                      <th>Nombre</th>
		                      <th>Codigo</th>
		                      <th>Descripcion</th>
		                      <th>Edit</th>
		                      <th>Borrar</th>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr>
		                      <td>cepillo</td>
		                      <td>00001</td>
		                      <td>Pelo fino</td>
		                      <th><i class="material-icons prefix">edit</i></th>
		                      <th><i class="material-icons prefix">delete</i></th>
		                  </tr>
		                  <tr>
		                      <td>Cepillo</td>
		                      <td>00002</td>
		                      <td>Pelo Grueso</td>
		                      <th><i class="material-icons prefix">edit</i></th>
		                      <th><i class="material-icons prefix">delete</i></th>
		                  </tr>
		                  <tr>
		                      <td>Ropa</td>
		                      <td>00003</td>
		                      <td>Blanca</td>
		                      <th><i class="material-icons prefix">edit</i></th>
		                      <th><i class="material-icons prefix">delete</i></th>
		                  </tr>
		                  <tr>
		                      <td>Juguete</td>
		                      <td>00004</td>
		                      <td>Color</td>
		                      <th><i class="material-icons prefix">edit</i></th>
		                      <th><i class="material-icons prefix">delete</i></th>
		                  </tr>
		                  </tbody>
		                </table>
		              </div>
		            </div>
		          </div>
		        </div>
		  </div>
		</div>
</div>